<blockquote class="p-6 bg-gray-100 text-gray-600 border-l-4 border-gray-500 italic quote relative text-xl rounded-r">
  <div class="stylistic-quote sm:block" aria-hidden="true">
    &ldquo;
  </div>
  <p class="mb-4">Colt would be a true asset for any dev team, I've always been impressed with his ability to find optimal solutions with great attention to detail from planning to execution. And, of course, a great communicator on both presenting projects and ideas, or mentoring other devs.</p>
  <cite class="flex items-center">
  <img alt="Avatar of nickd" class="mr-4 w-12 bg-gray-500 rounded-full" src="https://tailwindcss.com/img/jonathan.jpg" />
  <div class="flex flex-col items-start">
    <span class="mb-1 text-sm font-bold italic">
      Cécile Missol
    </span>
    <a class="text-sm" href="/mon-journal" target="_blank" rel="noopener noreferrer">
      Atelier Pam Pam
    </a>
  </div>
  </cite>
</blockquote>
