<article class="w-full my-4 flex flex-wrap justify-around">
  <div class="w-full md:w-1/4">
    <a href="{{ post.url }}" title="{{ post.title }}">
      <div class="h-full w-full bg-cover bg-center" style="background-image: url('{{ post.thumbnail }}')"></div>
    </a>
  </div>
  <div class="w-full md:w-3/5 border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col flex-grow justify-between leading-normal">
    <div class="mb-8">
      <a href="{{ post.url }}" class="text-gray-900 font-bold text-xl mb-2">{{ post.title | capitalize }}</a>
      <a href="{{ post.url }}" title="{{ post.title }}"><p class="text-gray-700 text-base">{{ post.excerpt | capitalize }}</p></a>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="{{ post.author-image }}" alt="Avatar of {{ post.author }}">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">{{ post.author }}</p>
        <p class="text-gray-600">Publié le {{ post.date | date: "%d/%m/%Y" }}</p>
      </div>
    </div>
  </div>
</article>
