<div class="container mx-auto p-24">
  <div class="text-2xl text-gray-700 font-serif mb-12 md:mb-20 text-center">Une pièce vous a tapé dans l'oeil ? <br>Vous pouvez l'acheter à distance !</div>
  <div class="flex flex-wrap">
    <div class="w-1/3 flex">
      <img class="w-16 mr-12" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566293899/pampam/one_ow4gpk.svg" alt="Chiffre 1">
      <div class="flex-grow"><h3 class="text-gray-700 font-serif leading-relaxed text-base">Parcourez le feed de nouveautés</h3></div>
    </div>
    <div class="w-1/3 flex">
      <img class="w-16 mr-12" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566293848/pampam/two_bxu95p.svg" alt="Chiffre 2">
      <div class="flex-grow"><h3 class="text-gray-700 font-serif leading-relaxed text-base">Ecrivez-moi un petit message</h3></div>
    </div>
    <div class="w-1/3 flex">
      <img class="w-16 mr-12" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566293848/pampam/three_xckqgg.svg" alt="Chiffre 3">
      <div class="flex-grow"><h3 class="text-gray-700 font-serif leading-relaxed text-base">Faites-vous livrer partout en France !</h3></div>
    </div>
  </div>
  <div id="instafeed -mx-2">
    <div class="flex -mx-2">
        <div class="w-1/3 px-2">
          <div class="bg-gray-400 h-12"></div>
        </div>
        <div class="w-1/3 px-2">
          <div class="bg-gray-500 h-12"></div>
        </div>
        <div class="w-1/3 px-2">
          <div class="bg-gray-400 h-12"></div>
        </div>
      </div>
      <div class="flex -mx-2 mt-2">
          <div class="w-1/3 px-2">
            <div class="bg-gray-400 h-12"></div>
          </div>
          <div class="w-1/3 px-2">
            <div class="bg-gray-500 h-12"></div>
          </div>
          <div class="w-1/3 px-2">
            <div class="bg-gray-400 h-12"></div>
          </div>
        </div>
  </div>
</div>

