<div class="container mx-auto p-12 md:p-24">
  <div class="text-2xl text-gray-700 font-serif mb-12 md:mb-16 text-center">Une pièce vous a tapé dans l'oeil ? <br>Vous pouvez l'acheter à distance !</div>
  <div class="flex flex-wrap mb-12 md:mb-16">
    <div class="w-1/3 flex items-center ">
      <img class="w-10 mr-8" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566293899/pampam/one_ow4gpk.svg" alt="Chiffre 1">
      <div class="flex-grow"><h3 class="text-gray-600 font-serif leading-relaxed text-base">Parcourez le feed de nouveautés</h3></div>
    </div>
    <div class="w-1/3 flex items-center">
      <img class="w-10 mr-8" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566293848/pampam/two_bxu95p.svg" alt="Chiffre 2">
      <div class="flex-grow"><h3 class="text-gray-600 font-serif leading-relaxed text-base">Ecrivez-moi un petit message</h3></div>
    </div>
    <div class="w-1/3 flex items-center">
      <img class="w-10 mr-8" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566293848/pampam/three_xckqgg.svg" alt="Chiffre 3">
      <div class="flex-grow"><h3 class="text-gray-600 font-serif leading-relaxed text-base">Faites-vous livrer partout en France</h3><span class="fas fa-truck-loading"></span></div>
    </div>
  </div>
<!--   <div id="instafeed-original">
    <div class="flex -mx-2">
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566302682/pampam/58409050_391443898122001_1224726297179299748_n_a4geih.jpg" alt="">
        </div>
      </div>
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566302682/pampam/66525603_338179213761982_2903736468777670161_n_cawkeh.jpg" alt="">
        </div>
      </div>
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566302682/pampam/64319800_749592305455607_5322418065848316279_n_u4qpo8.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="flex -mx-2 mt-4">
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566302682/pampam/64350024_497951377415722_536359303516569750_n_l9eudn.jpg" alt="">
        </div>
      </div>
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566302682/pampam/54222474_127925281631204_254357748557256342_n_r3tou2.jpg" alt="">
        </div>
      </div>
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566302682/pampam/60714987_463177304426129_4721686896206433749_n_vedki7.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="flex -mx-2 mt-4">
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566305257/pampam/65427530_474942116657959_1984644365494441748_n_kjszbc.jpg" alt="">
        </div>
      </div>
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566305503/pampam/64655403_632640903919155_877081558874190961_n_drogpt.jpg" alt="">
        </div>
      </div>
      <div class="w-1/3 px-2">
        <div class="relative w-full pb-full">
          <img class="absolute h-full w-full object-cover rounded-sm" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566305438/pampam/50128949_2251578635100224_718573311267138198_n_poqvhp.jpg" alt="">
        </div>
      </div>
    </div>
  </div> -->
  <div class="px-2">
    <div class="flex flex-wrap -mx-2" id="instafeed">
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded",function(){
    var userFeed = new Instafeed({
      get: 'user',
      userId: '{{ site.env.userId }}',
      clientId: '{{ site.env.clientId }}',
      accessToken: '{{ site.env.accessToken }}',
      resolution: 'standard_resolution',
      {% raw %}
      template: '<a href="{{link}}" target="_blank" class="w-1/3 px-2 py-2 flex flex-wrap"><div class="w-full flex justify-center"><div class="w-64 h-64 bg-cover bg-center" style="background-image: url(\'{{image}}\')"></div></div><div class="w-full flex justify-center"><div class="px-4 inline-block likes">&hearts; {{likes}}</div><div class="px-4 inline-block comments">&#128172; {{comments}}</div></div></a>',
      {% endraw %}
      sortBy: 'most-recent',
      limit: 15,
      links: false
    });
    userFeed.run();
  });
</script>
{% raw %}
<!-- <div class="caption">{{caption}}</div> -->
{% endraw %}
