<div class="container mx-auto px-12 md:px-24 mb-24">
  <div class="border-4 border-gray-700 mx-auto p-12 md:p-24">
    <h1 class="text-2xl text-center font-serif font-semibold text-gray-700 leading-relaxed mb-12">CHINONS !</h1>
    <p class="text-center font-serif text-gray-600 italic mb-12 lg:px-24">Les 3 livres par où commencer, la revue de presse qui fait changer d’air, les 5 idées pour s’engager quand on n'a pas le temps... Tout les mois, recevez un billet inspirant, mes nouvelles trouvailles et les actualités de l’atelier dans votre boîte mail.</p>
<!--     <form class="w-full max-w-xl mx-auto">
      <div class="flex flew-wrap md:no-wrap items-center md:border-b md:border-b-2 md:border-gray-700 py-2">
        <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="isaure@brocanteboheme.com" aria-label="Full name">
        <button class="flex-shrink-0 bg-gray-900 hover:bg-transparent border-2 border-transparent hover:border-gray-900 text-white hover:text-gray-900 font-bold font-serif py-4 px-8 bg-gray-900 rounded-sm" type="button">
          S'inscrire à la newsletter
        </button>
      </div>
    </form> -->

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://atelierpampam.us3.list-manage.com/subscribe/post?u=44312ed5753831f4a0c075ce9&amp;id=fb83edb4f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-full max-w-xl mx-auto" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="flex flew-wrap md:no-wrap items-center md:border-b md:border-b-2 md:border-gray-700 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="isaure@brocanteboheme.com" required>
<!--           <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Isaure" required> -->
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_44312ed5753831f4a0c075ce9_fb83edb4f1" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="submit" value="PAM ! Je m'abonne" name="subscribe" id="mc-embedded-subscribe" class="flex-shrink-0 bg-gray-900 hover:bg-transparent border-2 border-transparent hover:border-gray-900 text-white hover:text-gray-900 font-bold font-serif py-4 px-8 bg-gray-900 rounded-sm">
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
