<div class="container mx-auto px-12 md:px-24 mb-24">
  <div class="lisbon-bg border-4 border-gray-700 mx-auto p-12 md:p-24">
    <h1 class="text-2xl text-center font-serif font-semibold text-gray-700 leading-relaxed mb-12">Ne chinerions-nous pas ensemble ?</h1>
    <p class="text-center font-serif text-gray-600 italic mb-12">Les 3 livres par où commencer, la revue de presse qui fait changer d’air, les 5 idées pour s’engager quand on n'a pas le temps... Tous les mois, notre équipe vous partage ses inspirations et décou-vertes pour prendre l’air et révolutionner, petit à petit, nos habitudes.</p>
    <form class="w-full max-w-xl mx-auto">
      <div class="flex items-center border-b border-b-2 border-gray-700 py-2">
        <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="isaure@brocanteboheme.com" aria-label="Full name">
        <button class="flex-shrink-0 bg-gray-900 hover:bg-transparent border-2 border-transparent hover:border-gray-900 text-white hover:text-gray-900 font-bold font-serif py-4 px-8 bg-gray-900 rounded-sm" type="button">
          S'inscrire à la newsletter
        </button>
      </div>
    </form>

  </div>
</div>
