<div id="pam-pam-presse" class="container mx-auto p-12 md:p-24 flex flex-wrap justify-between items-center">
  <h2 class="text-4xl text-center text-gray-700 font-serif mb-12 md:mb-20 w-full">"Pam Pam dans la Presse"</h2>
  <a href="https://www.tiffanyoliverphotographies.com/blog-photographe-mariage-lyon/mes-brocs-ont-du-talent-photographe-puces-du-canal-a-lyon-atelier-pampam" target="_blank" class="p-2">
    <img class="h-64" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t31.0-8/12113274_514445172047117_335638671523879286_o.jpg?_nc_cat=101&_nc_oc=AQmOW2vTptQdCJrRUafc8ady2ZJt5XZHxVYwwPgX0boJmd7PY4HNY352ErZ4nd0Durk&_nc_ht=scontent-mrs2-1.xx&oh=e31bca0d5063ca4051a9fb550a86e42b&oe=5DD19309" style="filter: saturate(0%);">
  </a>
  <a href="https://www.mylittlelyon.com/deco/la-brocante-qui-joue-a-cache-cache" target="_blank" class="p-2">
    <img class="h-64" src="https://www.mylittlelyon.com/images/logo/logo-mll.png" style="filter: saturate(0%);">
  </a>
  <a href="https://nouvellesrepliques.wordpress.com/2017/02/28/loch-nessbroctheatre-au-theatre-des-voraces-lyon/" target="_blank" class="p-2">
    <img class="h-64" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/558811_481197098570052_815375811_n.jpg?_nc_cat=107&_nc_oc=AQliAg9SSKbDSFMdO_gAx_715Bzx5DqtX7DMT8dGP0oD8Af4qHdSs0QAJtPkDa_pRvY&_nc_ht=scontent-mrs2-1.xx&oh=ab10e0c2c777c132e9449a41f8d182e4&oe=5DCA931E" style="filter: saturate(0%);">
  </a>
</div>
