<div class="container mx-auto flex flex-wrap mx-auto p-12 md:px-24">

  <!--   left part -->

  <div class="relative flex md:w-1/2">
    <img class="w-full" src="../assets/showroom_vertical.jpg" alt="photo du showroom de l'atelier pampam version verticale">
    <img class="w-full" src="../assets/showroom_horizontal.jpg" alt="photo du showroom de l'atelier pampam">
  </div>

  <!-- right part -->

  <div class="md:w-1/2">
    <h2 class="text-2xl text-gray-700 font-serif text-center">Visitez le showroom</h2>
    <p class="text-xl text-gray-700 font-serif mb-12 md:mb-16 text-center">aux Puces du Canal</p>
    <div class="flex justify-around">
      <div>
        <h3 class="text-center italic text-2xl font-serif text-gray-700">Horaires</h3>
         <p class="text-center font-serif text-gray-600">Jeudi 9h30-14h30</p>
         <p class="text-center font-serif text-gray-600">Samedi 10h00-14h00</p>
         <p class="text-center font-serif text-gray-600">Dimanche 9h30-14h00</p>
      </div>
      <div>
        <h3 class="text-center italic text-2xl font-serif text-gray-700">Adresse</h3>
         <p class="text-center font-serif text-gray-600">Les Puces du Canal - Bât. l'Ecole - <br> 5, rue Eugène Pottier <br>69100 Villeurbanne</p>
      </div>
    </div>
  </div>

</div>
