<div class="container mx-auto flex flex-wrap mx-auto p-12 md:px-24">

  <!--   left part -->

  <div class='slider relative mx-auto md:w-1/2'>
    <div class='slide1 absolute h-full w-full'></div>
    <div class='slide2 absolute h-full w-full'></div>
    <div class='slide3 absolute h-full w-full'></div>
    <div class='slide4 absolute h-full w-full'></div>
    <div class='slide5 absolute h-full w-full rounded-sm'></div>
  </div>

  <!-- right part -->

  <div class="md:w-1/2 md:p-16">
    <h2 class="text-2xl text-gray-700 font-serif text-center">Visitez le showroom</h2>
    <p class="text-xl text-gray-700 font-serif mb-12 md:mb-10 text-center ">aux Puces du Canal</p>
    <div class="flex justify-around">
      <div>
        <h3 class="text-center italic text-lg font-serif text-gray-700 mb-3">Horaires</h3>
         <p class="text-sm text-center font-serif text-gray-600">Jeudi 9h30-14h30</p>
         <p class="text-sm text-center font-serif text-gray-600">Samedi 10h00-14h00</p>
         <p class="text-sm text-center font-serif text-gray-600">Dimanche 9h30-14h00</p>
      </div>
      <div>
        <h3 class="text-center italic text-xl font-serif text-gray-700 mb-3">Adresse</h3>
         <p class="text-sm text-center font-serif text-gray-600">Les Puces du Canal  <br> - Bât. l'Ecole - <br>  5, rue Eugène Pottier <br>69100 Villeurbanne</p>
      </div>
    </div>
  </div>

</div>
