<div id="temoignages" class="container mx-auto p-4 md:p-6 flex flex-wrap justify-between items-center">

  <div class="w-full md:w-1/3 flex flex-wrap justify-center py-4">
    <div class="w-full flex justify-center">
      <img class="h-64" src="/assets/luminaire-creation-avis-1.jpeg" alt="luminaire creation avis 1">
    </div>
    <div class="flex justify-around items-center py-4">
      <img class="w-8 h-8 rounded-full mr-4" src="/assets/cecile-missol-portrait.jpeg" alt="Portrait de Cécile Missol">
      <div class="text-sm font-serif text-base font-semibold text-gray-700">
        Prénom, nom du client
      </div>
    </div>
    <div class="container mx-auto w-full font-serif text-base font-semibold text-gray-700 py-4 px-16 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aliquam facilis, laboriosam expedita doloribus odit quidem amet quis delectus, tempore, voluptates aspernatur deserunt facere saepe voluptatum reprehenderit. Esse, cumque, dignissimos!
    </div>
  </div>

  <div class="w-full md:w-1/3 flex flex-wrap justify-center py-4">
    <div class="w-full flex justify-center">
      <img class="h-64" src="/assets/luminaire-creation-avis-2.jpeg" alt="luminaire creation avis 2">
    </div>
    <div class="flex justify-around items-center py-4">
      <img class="w-8 h-8 rounded-full mr-4" src="/assets/cecile-missol-portrait.jpeg" alt="Portrait de Cécile Missol">
      <div class="text-sm font-serif text-base font-semibold text-gray-700">
        Prénom, nom du client
      </div>
    </div>
    <div class="container mx-auto w-full font-serif text-base font-semibold text-gray-700 py-4 px-16 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aliquam facilis, laboriosam expedita doloribus odit quidem amet quis delectus, tempore, voluptates aspernatur deserunt facere saepe voluptatum reprehenderit. Esse, cumque, dignissimos!
    </div>
  </div>

  <div class="w-full md:w-1/3 flex flex-wrap justify-center py-4">
    <div class="w-full flex justify-center">
      <img class="h-64" src="/assets/luminaire-creation-avis-3.jpeg" alt="luminaire creation avis 3">
    </div>
    <div class="flex justify-around items-center py-4">
      <img class="w-8 h-8 rounded-full mr-4" src="/assets/cecile-missol-portrait.jpeg" alt="Portrait de Cécile Missol">
      <div class="text-sm font-serif text-base font-semibold text-gray-700">
        Prénom, nom du client
      </div>
    </div>
    <div class="container mx-auto w-full font-serif text-base font-semibold text-gray-700 py-4 px-16 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aliquam facilis, laboriosam expedita doloribus odit quidem amet quis delectus, tempore, voluptates aspernatur deserunt facere saepe voluptatum reprehenderit. Esse, cumque, dignissimos!
    </div>
  </div>

</div>
