<div class="container mx-auto md:pt-40 p-10 md:py-24 flex flex-wrap  md:flex-row-reverse">

  <!-- left part -->

  <div class="scroll w-full lg:w-1/2 bg-transparent pl-24 self-center text-center text-gray-700 text-lg font-serif" data-rate="-0.2" data-direction="vertical">
    <div class="">
      <h2 class="text-xl text-gray-700 font-serif mb-12 md:mb-20">Au travers de mon travail, j’aime promouvoir un art de vivre plus global. Un art de vivre où ce qui importe, c’est le plaisir qu’on prend à vivre notre quotidien.
      <br><br>C’est pourquoi il est important de choisir ce qui nous entoure, personnes comme objets, car ce sont eux qui composent le tableau de nos journées. Et ça commence par notre lieu le plus intime : chez nous.
      <br><br>Imaginez le composé uniquement d’objets et de meubles qui vous procurent une émotion particulière, un plaisir sensé. C’est ce genre d’objets, du plus usuel au plus exceptionnel que j’aime mettre en avant ici à l’atelier.</h2>
      <p class="hidden font-semibold text-gray-700 font-serif mb-12 md:mb-20">Voici le manifeste de l'Atelier Pam Pam</p>
    </div>
    <div class="flex items-center mb-10">
      <img class="w-16 mr-12" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283524/pampam/picto-poesie_r8agkk.svg" alt="Pictogramme représentatnt la poésie">
      <div class="text-sm">
        <p class="italic text-2xl font-serif text-left">Poésie</p>
        <p class="text-gray-600 text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="flex items-center mb-10">
      <img class="w-16 mr-12" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283526/pampam/picto-singuliere_lr5bep.svg" alt="Pictogramme représentant la singularité">
      <div class="text-sm">
        <p class="italic text-2xl font-serif text-left">Singularité</p>
        <p class="text-gray-600 text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="flex items-center">
      <img class="w-16 mr-12" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283524/pampam/picto-consciente_w6cymc.svg" alt="Pictogramme représentant la conscience">
      <div class="text-sm">
        <p class="italic text-2xl font-serif text-left">Conscience</p>
        <p class="text-gray-600 text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

  <!-- right part -->

  <div class="w-full lg:w-1/2 overflow-hidden text-center">
<!--     <img class="w-full" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283540/pampam/photo-portrait_natmvy.jpg" alt="Portait de la créatrice, cécile"> -->
    {% cloudinary /assets/photo-portrait.jpg alt="Portait de la créatrice, Cécile" class="" %}
    <div class="px-6 py-4">
      <h2 class="italic text-2xl font-serif mt-8 mb-8 text-gray-700">Moi, c'est Cécile...</h2>
      <p class="text-gray-700 font-serif leading-relaxed text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
      <!-- btn  -->
      <div class="mt-12">
        <a href="{% link blog.html %}" class="bg-gray-900 hover:bg-transparent border-2 border-transparent hover:border-gray-900 text-white hover:text-gray-900 font-bold font-serif py-4 px-8 bg-gray-900 rounded-sm mt-12">Mon Blog</a>
      </div>
    </div>
  </div>

</div>
