<div class="container mx-auto py-40 flex flex-wrap">
  <div class="w-full md:w-1/2 overflow-hidden text-center">
    <img class="w-full" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283540/pampam/photo-portrait_natmvy.jpg" alt="Portait de la créatrice, cécile">
    <div class="px-6 py-4">
      <div class="italic text-2xl font-serif mt-8 mb-8">Moi, c'est Cécile...</div>
      <p class="text-gray-700 font-serif leading-relaxed text-base mb-10">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
      <a href="" class="bg-gray-900 hover:bg-transparent border-2 border-transparent hover:border-gray-900 text-white hover:text-gray-900 font-bold font-serif py-4 px-8 bg-gray-900 rounded-sm">Mon Blog</a>
    </div>
  </div>
  <div class="w-full md:w-1/2 bg-transparent p-24 self-center text-center text-gray-700 text-lg font-serif italic">
    <div class="">
      <h2>A l'atelier Pam Pam, je promeut un art de vivre discret, élégant et durable.</h2>
      <p class="mt-4 mb-20 font-semibold">Mon manifeste</p>
    </div>
    <div class="flex items-center mb-10">
      <img class="w-16 mr-4" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283524/pampam/picto-poesie_r8agkk.svg" alt="Pictogramme représentatnt la poésie">
      <div class="text-sm">
        <p class="italic text-2xl font-serif text-left">Poésie</p>
        <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="flex items-center mb-10">
      <img class="w-16 mr-4" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283526/pampam/picto-singuliere_lr5bep.svg" alt="Pictogramme représentant la singularité">
      <div class="text-sm">
        <p class="italic text-2xl font-serif text-left">Singularité</p>
        <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="flex items-center">
      <img class="w-16 mr-4" src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1566283524/pampam/picto-consciente_w6cymc.svg" alt="Pictogramme représentant la conscience">
      <div class="text-sm">
        <p class="italic text-2xl font-serif text-left">Conscience</p>
        <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
